@import "style.css" all;

@media all and (max-width: 740px){
    .article label{
        float: none;
    }
    .article__input{
        margin-left: 0px;
    }
    span{
        display: block;
    }
    select{
        margin-left: 0;
    }
    .public__input{
        display: block;
    }
}