.meet_our_team h2 {
  color: #0eb493;
  font-family: "Open Sans";
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: -0.56px;
  text-align: center;
  margin-top: 101px;
  margin-bottom: 25px; }
.meet_our_team p {
  width: 929px;
  opacity: 0.8;
  color: #062033;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 108px;
  margin-left: auto;
  margin-right: auto; }
.meet_our_team .meet_our_team_box {
  display: flex;
  justify-content: space-between; }
  .meet_our_team .meet_our_team_box .team__item {
    position: relative;
    width: 270px;
    height: 300px; }
    .meet_our_team .meet_our_team_box .team__item .foto {
      display: flex; }
    .meet_our_team .meet_our_team_box .team__item .foto__hover {
      width: 270px;
      height: 300px;
      background: url("../img/meet-our-team/Rectangle_7.png");
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0; }
      .meet_our_team .meet_our_team_box .team__item .foto__hover p {
        width: 270px;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin: 23px 0px 45px;
        padding: 0px 26px; }
        .meet_our_team .meet_our_team_box .team__item .foto__hover p span {
          font-family: "Open Sans";
          line-height: 32px;
          font-weight: 700; }
      .meet_our_team .meet_our_team_box .team__item .foto__hover .foto__hover__social {
        display: flex;
        justify-content: center; }
        .meet_our_team .meet_our_team_box .team__item .foto__hover .foto__hover__social .social_item {
          height: 42px;
          width: 42px;
          background: url("../img/meet-our-team/foto-hover-social-rect.png");
          text-align: center;
          vertical-align: center; }
          .meet_our_team .meet_our_team_box .team__item .foto__hover .foto__hover__social .social_item img {
            margin-top: 10px; }
        .meet_our_team .meet_our_team_box .team__item .foto__hover .foto__hover__social .social_item:not(:last-child) {
          margin-right: 4px; }
    .meet_our_team .meet_our_team_box .team__item .foto__hover:hover {
      opacity: 1;
      cursor: pointer; }
    .meet_our_team .meet_our_team_box .team__item .foto__hover:hover + .foto__about h4 {
      color: #0eb493; }
    .meet_our_team .meet_our_team_box .team__item .foto__about h4 {
      color: #062033;
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      margin-top: 21px;
      margin-bottom: 12px; }
    .meet_our_team .meet_our_team_box .team__item .foto__about p {
      margin: 0;
      padding: 0;
      opacity: 0.56;
      color: #062033;
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 400;
      line-height: 24px;
      width: auto; }
.meet_our_team .features__slider__dots {
  margin-top: 87px;
  margin-bottom: 120px; }

.some_fun_facts {
  background: url("../img/some-fun-facts/background/Rectangle_8_copy.png"), url("../img/some-fun-facts/background/Layer_29.png"), url("../img/some-fun-facts/background/Layer_28.png"), url("../img/some-fun-facts/background/Rectangle_8.png");
  background-size: cover; }
  .some_fun_facts h2 {
    color: #0eb493;
    font-family: "Open Sans";
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: -0.56px;
    text-align: center;
    padding-top: 101px;
    padding-bottom: 25px; }
  .some_fun_facts .some_fun_facts_box {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .some_fun_facts .some_fun_facts_box .facts_item .circle {
      height: 130px;
      width: 130px;
      background: url("../img/some-fun-facts/Circle.png");
      display: flex;
      align-items: center;
      justify-content: center; }
    .some_fun_facts .some_fun_facts_box .facts_item p:first-of-type {
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 60px;
      font-weight: 400;
      text-align: center;
      margin-top: 51px;
      margin-bottom: 18px; }
    .some_fun_facts .some_fun_facts_box .facts_item p:last-child {
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 158px; }
    .some_fun_facts .some_fun_facts_box .facts_item:nth-child(2) .circle {
      margin-left: 10px; }
    .some_fun_facts .some_fun_facts_box .facts_item:nth-child(3) .circle {
      margin-left: 20px; }

/*# sourceMappingURL=style_sass.css.map */
