* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-size: 13px;
}
.container {
  width: 1100px;
  margin: 0 auto;
}
.clearfix::before {
  content: "";
  display: block;
  clear: both;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* -------------------================ LINE-HEART-LINE ===========------ */
.line_heart_line {
  display: flex;
  justify-content: center;
  align-items: center;
}
.line_heart_line img {
  margin: 0px 15px;
}
.line {
  width: 90px;
  height: 1px;
  background-color: #062033;
  opacity: 0.1;
}
.white{
  background-color: #ffffff;
  opacity: 0.5;
}
/* Section ------------============ HEADER ============------------ */
.header__top {
  background-color: #10163633;
}
.logo {
  width: 259px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h3 {
  color: #ffffff;
  font-family: "Pacifico";
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1.4px;
}
.logo span {
  color: #32b0ee;
  font-size: 16px;
  letter-spacing: 0.8px;
}
.logo p {
  opacity: 0.3;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 300;
  letter-spacing: 0.65px;
}
.header__top__nav {
  width: 354px;
}
.header__top__nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.header__top__nav li {
  height: 70px;
  padding-top: 30px;
  border-top: 1px solid transparent;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 400;
  letter-spacing: 0.65px;
}
.header__top__nav li:hover {
  border-top: 1px solid #32b0ee;
  cursor: pointer;
}
header {
  background: url("../img/Slice_1.png");
}
.header__slider {
  text-align: center;
  position: relative;
}
.header__slider h1 {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 62px;
  font-weight: 300;
  padding-top: 397px;
}
.header__slider span:nth-child(2) {
  font-family: "Open Sans Light";
  font-weight: 300;
}
.header__slider span:nth-child(1) {
  font-family: "Open Sans";
  font-weight: 700;
}
.header__slider p:nth-child(2) {
  opacity: 0.9;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 48px;
  font-weight: 300;
}
.header__slider p > span {
  color: #0feb9e;
}
.header__slider p:nth-child(4) {
  opacity: 0.9;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  margin-left: 33px;
  margin-right: 33px;
}
.header__slider__line {
  width: 28px;
  height: 1px;
  background-color: #0feb9e;
  display: inline-block;
}
.header__slider__dots {
  position: absolute;
  top: 50%;
  right: 0px;
  margin-right: 48px;
}
.header__slider__dots .selected svg g {
  opacity: 0.9;
}
.header__slider__dots .selected svg path {
  fill: #fff;
}

/* Section ------------============ FEATURES ============------------ */
.features {
  background-color: #f4f7f9;
}
.features h2 {
  text-align: center;
  color: #0eb493;
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -0.56px;
  padding: 77px 0px 25px;
}
.features_box {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
.features_box_item {
  flex-basis: 356px;
}
.features_box_item img {
  vertical-align: bottom;
}
.features_box_item h3 {
  margin: 3px 0px 22px 57px;
  color: #062033;
  font-family: "Open Sans";
  font-size: 20px;
}
.features_box_item p {
  margin-left: 56px;
  opacity: 0.7;
  color: #062033;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 21px;
}
.features__slider__dots {
  display: flex;
  justify-content: center;
  padding: 80px 0px 54px;
}
.features__slider__dots .dot:nth-child(2) {
  margin: 0px 15px;
}
.features__slider__dots .selected svg g {
  opacity: 0.9;
}
.features__slider__dots .selected svg path {
  fill: #000;
}

/* Section ------------============ WORKS ============------------ */
.works h2 {
  text-align: center;
  color: #0eb493;
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -0.56px;
  padding: 77px 0px 25px;
}
.works p {
  width: 929px;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  opacity: 0.8;
  color: #062033;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.works__filter ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 48px 0px 37px;
}
.works__filter ul li {
  padding: 10px 21px 9px 18px;
  margin-right: 8px;
  color: #062033;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
}
.works__filter ul li:hover {
  background-color: #0eb493;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.works_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.works_item:nth-child(1) {
  background: url("../img/works/Layer_13.png");
}
.works_item:nth-child(2) {
  background: url("../img/works/Layer_15.png");
}
.works_item:nth-child(3) {
  background: url("../img/works/Layer_17.png");
}
.works_item:nth-child(4) {
  background: url("../img/works/Layer_18.png");
}
.works_item:nth-child(5) {
  background: url("../img/works/Layer_19.png");
}
.works_item:nth-child(6) {
  background: url("../img/works/Layer_20.png");
}
.works_item:nth-child(7) {
  background: url("../img/works/Layer_21.png");
}
.works_item:nth-child(8) {
  background: url("../img/works/Layer_22.png");
}
.works_item {
  /* display: flex; */
  width: 400px;
  height: 300px;
}
/* ----------------=================== SOME FUN FACTS =================-------------------- */
/* .some_fun_facts{
  background: url('../img/some-fun-facts/background/Rectangle_8_copy.png'),
              url('../img/some-fun-facts/background/Layer_29.png'),
              url('../img/some-fun-facts/background/Layer_28.png'),
              url('../img/some-fun-facts/background/Rectangle_8.png');
  background-size: cover;
}
.some_fun_facts h2{
  color: #0eb493;
  font-family: "Open Sans";
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: -0.56px;
  text-align: center;
  padding-top: 100px;     
  padding-bottom: 25px;
}
.some_fun_facts_box{
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.facts_item .circle{
  height: 130px;
  width: 130px;
  background: url('../img/some-fun-facts/Circle.png');
  display: flex;
  align-items: center;
  justify-content: center;
}
.facts_item:nth-child(2) .circle{
  margin-left: 10px;
}
.facts_item:nth-child(3) .circle{
  margin-left: 20px;
}
.facts_item p:first-of-type{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  margin-top: 51px;
  margin-bottom: 18px;
}
.facts_item p:last-child{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 158px;
} */
